body {
    display:flex ;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
}


.navbar ul {
  border: 5px solid black;
  list-style: none;
  display: flex;
  justify-content: start;
}
